add_newline = false

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$nodejs\
$python\
$golang\
$rust\
$cmd_duration\
$line_break\
$character
"""

[directory]
style = "blue"
truncation_length = 3
truncate_to_repo = true

[git_branch]
symbol = " "
style = "purple"

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"

