[Desktop Entry]
Name=Gemini
Comment=Buka Gemini di browser
Exec=chromium https://gemini.google.com
Icon=internet-web-browser
Terminal=false
Type=Application
Categories=Network;Utility;

