* {
  font-family: SF Pro text;
  font-size: 10px; /* Ukuran font kecil */
  padding: 0px; /* Hilangkan padding */
  margin: 0px; /* Hilangkan margin */
  min-height: 0px; /* Pastikan tidak ada tinggi minimum */
  min-width: 0px; /* Pastikan tidak ada lebar minimum */
  border: none;
}

#waybar {
  background: transparent;
}

#workspaces {
  padding: 0px;
  margin: 0px;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 2px;
  color: #ffffff;
  background: transparent;
  border: none;
  border-radius: 4px;
}

#workspaces button.active {
  background-color: transparent;
  color: red;
}

#workspaces button.urgent {
  background-color: #bf616a;
}

#workspaces button:hover {
  background-color: #3b4252;
}
#clock,
#window,
#network,
#custom-wlogout,
#custom-avatar,
#custom-netspeed,
#pulseaudio,
#tray,
#temperature {
  background-color: transparent;
  color: white;
  padding: 0px 5px; /* Hilangkan padding */
}
#custom-avatar {
  color: white;
  border-radius: 5px;
  padding-right: 10px;
  border: 2px solid red;
}

#custom-netspeed {
    color: red;
}
